/* General look */
* {
		font-family: "Press Start 2P", cursive;
	}
body {
	background-color: black;
}
button{
	border: 0.5px;
	cursor: pointer;
}
button:hover{
	background-color: #ccc;
}

/* Dialog box */
.dialog-box {
	display: none;	
	background-color: white;
	height: 130px; /* this plus padding must equal battle-attacks-bar height */
	position: absolute; 
	bottom:0; 
	left:0; 
	right:0;
	border-top: 4px black solid;
	padding: 10px;
	cursor: pointer;
}

/* Battle Transition Screen */
.battle-overlap {
	background-color: black; 
	opacity: 0; 
	position: absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	pointer-events: none;
}

/* Battle Attacks bar */
.battle-attacks-bar {
	opacity: 0;		
	background-color: pink;
	height: 150px;
	position: absolute; 
	bottom:0; 
	left:0; 
	right:0;
	border-top: 4px black solid;
	display: flex;
}

.battle-attacks-buttons{
	width: 66.6%; 
	border-right: 4px black solid; 
	display: grid; 
	grid-template-columns: repeat(2, 1fr);
	background-color: white;
}

.battle-attacks-info{
	display: flex; 
	align-items: center; 
	justify-content: center; 
	width: 33.3%;
}

.battle-attacks-info h1 {
	margin:0;
}

/* Health Bars */
.health-bar-enemy{
	opacity: 0;	
	background-color: white;
	width: 250px;
	position: absolute;
	top: 50px;
	left:50px;
	padding: 12px;
	border: 4px black solid;
}
.health-bar-enemy h1{
	font-size: 16px;
}
.health-bar-pg{
	opacity: 0;	
	background-color: white;
	width: 250px;
	position: absolute;
	top: 300px;
	right: 50px;
	padding: 12px;
	border: 4px black solid;
}
.health-bar-pg h1{
	font-size: 16px;
}

.health-bar{
	position: relative;
}
.health-bar-life{
	height: 10px;
	background-color: lightgreen;
	position: absolute;
	top: 0;
	left:0;
	right: 0;
}
.health-bar-bg{
	height: 10px;
	background-color: grey;
	margin-top: 10px;
}