/* General look */
* {
		font-family: "Press Start 2P", cursive;
	}
body {
	background-color: black;
}
button{
	border: 0.5px;
	cursor: pointer;
}
button:hover{
	background-color: #ccc;
}

/* Battle Transition Screen */
.battle-overlap {
	background-color: black; 
	opacity: 0; 
	position: absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	pointer-events: none;
}

/* Battle Attacks bar */
.battle-attacks-bar {
	opacity: 0;			
	background-color: pink;
	height: 150px;
	position: absolute; 
	bottom:0; 
	left:0; 
	right:0;
	border-top: 4px black solid;
	display: flex;
	background: red !important;
}

.battle-attacks-buttons{
	width: 66.6%; 
	border-right: 4px black solid; 
	display: grid; 
	grid-template-columns: repeat(2, 1fr);
}

.battle-attacks-info{
	display: flex; 
	align-items: center; 
	justify-content: center; 
	width: 33.3%;
}

.battle-attacks-info h1 {
	margin:0;
}